/* APX CUSTOM FILTER */
.apx_widgets_worker-customFilter{
    
}
.apx_widgets_worker-customFilter ul{
    border:0!important;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.apx_widgets_worker-customFilter ul > li{
    border: 1px solid #f2f2f2!important;
    box-sizing: border-box;
    padding: 5px 10px;
}
.apx_widgets_worker-customFilter ul > li > a{}