.apx_widgets_worker-buyTogether{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
    padding: 20px!important;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    border-radius: 5px;
}
.apx_widgets_worker-buyTogether > strong{ 
    font-size: 16px;
    display: block;
    margin-bottom:15px;
}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item{
    display: flex;
    gap: 20px;
}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item > div label{}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item > div select{}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item > div span{}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item > div img{width:60px}

.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item-options{
    display: flex;
    align-items: center;
    gap: 5px;
}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item-options > span{
    border: 1px solid #ccc;
    position: relative;
    border-radius: 2px;
    line-height: 30px;
    padding: 0 6px;
    min-width: 18px;
    text-align: center;
    cursor:pointer;
}
.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item-options > span.active{
    background: #000;
    color: #fff;
    border-color:#000;
}

.apx_widgets_worker-buyTogether .apx_widgets_worker-buyTogether-item:not(:last-child){
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
}
.apx-gap-vertical-10{display:flex;flex-direction: column;gap:10px;}
.apx_widgets_worker-buyTogether-item-options .indisponivel{pointer-events:none!important;}
.apx_widgets_worker-buyTogether-item-options .indisponivel .icon-remove.hide{display:block!important;}

#apx_loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:99999;
}
#apx_loader > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.apx_preload{border-radius:5px;min-height:100px;position: relative;margin:30px 0;}
.apx_preload.loaded{margin:0;}
.apx_preload.loaded:before,
.apx_preload.loaded > .lds-ellipsis{display:none!important;}
.apx_preload:before{
    content: "";
    position: absolute;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    
}
.apx_preload > .lds-ellipsis{
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.apx_preload > .lds-ellipsis > div{background:#666;}
.lds-ellipsis {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}